Configs/
.vscode/launch.json
packer/credentials.pkr.hcl
packer/ubuntu-jammy-docker/http/user-data
packer/packer_cache/
terraform/.terraform
terraform/credentials.auto.tfvars
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
